# python
## basics

In [2]:
2+3

5

In [3]:
2-3

-1

In [4]:
30+60-100/50

88.0

In [5]:
4*6

24

In [6]:
8/4

2.0

In [7]:
8//4

2

In [1]:
a=2-3
type(a)

int

In [9]:
a=2-3

In [23]:
type(a)

int

### differentiate below two types give:

In [11]:
8+2*3

14

In [12]:
(8+2)*3

30

In [13]:
2*2*2

8

In [14]:
2**10

1024

In [15]:
10//3

3

In [21]:
10%3

1

### below two types, output navin with code and another only name

In [17]:
"navin"

'navin'

In [2]:
print("navin")

navin

In [24]:
first_name="abdul"
last_name="matheen"

In [28]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is abdul and last name is matheen

In [9]:
type(first_name)

str

In [6]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is abdul and last name is matheen

In [7]:
print("My first name is {first} and last name is {last}".format(first=first_name,last=last_name))

My first name is abdul and last name is matheen

In [24]:
print("Youtube")

Youtube

In [25]:
print("navin's laptop")

navin's laptop

In [29]:
print('navins "laptop"')

navins "laptop"

- incase to remove special case of 's

In [28]:
print('navin\'s "laptop"')

navin's "laptop"

In [30]:
"navin"+"navin"

'navinnavin'

In [36]:
10*"navin"

'navinnavinnavinnavinnavinnavinnavinnavinnavinnavin'

- To draw new line

In [32]:
print("Name\n RRN\n date\n")

Name
 RRN
 date

In [38]:
x=2
x+3

5

In [40]:
y=3
x+y

5

In [42]:
x=9
y=7
z=10
x+y+z

26

- incase to put output of previous operation as input

In [45]:
x+10

19

In [47]:
_+y

33

In [48]:
name="Youtube"

In [49]:
name

'Youtube'

In [50]:
name+"rock"

'Youtuberock'

In [51]:
Name= name+"rock"

In [52]:
Name

'Youtuberock'

In [53]:
Name[0]

'Y'

In [54]:
Name[-1]

'k'

- incase of printing two characters

Name=name

In [56]:
name[0:2]

'Yo'

In [58]:
name[1:4]

'out'

In [60]:
name[0:]

'Youtube'

In [62]:
name[:7]

'Youtube'

In [64]:
name[:10]

'Youtube'

-incase of adding any sentence between

In [66]:
"my"+name[3:]

'mytube'

In [70]:
"channel"+ Name[3:]

'channeltuberock'

In [72]:
my name="Abdul Matheen"
len(my name)

SyntaxError: invalid syntax (<ipython-input-72-c9e28a0bd315>, line 1)

In [74]:
name= 'Abdul matheen'
len(name)

13

In [75]:
my name='abdulmatheen'
len(my name)

SyntaxError: invalid syntax (<ipython-input-75-f869ecf7fa86>, line 1)