# PYTHON dATA sTRUCTURES AND bOOLEAN

- BOOLEAN
- BOOLEAN AND LOGICAL OPERATORS
- LISTS
- COMPARISON OPERATORS
- DICTIONARIES
- TUPLES
- SETS

- Boolean variables: two constant object fasle and true

In [64]:
my_str='Abdulmatheen123'
my_str

'Abdulmatheen123'

In [66]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('3'))
print(my_str.startswith('A'))

True
False
False
True
False
False
False
True
True

# Boolean and logical operators

In [70]:
True and True

True

In [73]:
True and False

False

In [75]:
True or False

True

In [78]:
True or False

True

### example

In [81]:
str_example='Hello world'
my_str='krish'

In [83]:
my_str.isalpha() or str_example.isalnum()

True

# list

## collection of items, data structure in python that is mutable, changable, ordered sequence of elements defined by having values in square brackets

In [3]:
type([])

list

In [4]:
score=['math','science','social',90,100,80]
score

['math', 'science', 'social', 90, 100, 80]

In [5]:
type(score)

list

In [6]:
len(score)

6

In [8]:
score.insert(2,'english')

In [14]:
score

['math', 'science', 'english', 'english', 'social', 90, 100, 80]

In [118]:
score=['math','science','social',90,100,80]
score

['math', 'science', 'social', 90, 100, 80]

In [120]:
score[4]

100

In [122]:
score[:]

['math', 'science', 'social', 90, 100, 80]

In [17]:
names=["jhon","sam","tom","sandy"]
names

['jhon', 'sam', 'tom', 'sandy']

In [18]:
names.insert(2,"marry")
names

['jhon', 'sam', 'marry', 'tom', 'sandy']

In [19]:
names.append("edet")
names

['jhon', 'sam', 'marry', 'tom', 'sandy', 'edet']

In [159]:
names.remove('e')
names

['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'd', 't', 'edet']

In [21]:
Names=['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'd', 't', 'edet']
Names

['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'd', 't', 'edet']

In [22]:
Names.remove('d')
Names

['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 't', 'edet']

In [23]:
Names.remove('t')
Names

['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'edet']

In [107]:
Names1=['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'edet']
Names1

['jhon', 'sam', 'marry', 'marry', 'tom', 'sandy', 'edet']

In [109]:
Names1.extend("carie")
Names1

['jhon',
 'sam',
 'marry',
 'marry',
 'tom',
 'sandy',
 'edet',
 'c',
 'a',
 'r',
 'i',
 'e',
 'c',
 'a',
 'r',
 'i',
 'e']

In [24]:
lst=[1,2,3,4,5]
sum(lst)

15

In [25]:
lst.pop(-1)

5

In [26]:
lst.pop(0)
lst.pop(1)

3

In [200]:
lst

[4]

In [111]:
list=[1,2,3,4,5,6,7,7,5,1]
list.count(7)

2

In [206]:
list.index(5)

4

In [209]:
max(list)

7

In [5]:
list=[1,2,3,4,5,6,7,7,5,1]
list

[1, 2, 3, 4, 5, 6, 7, 7, 5, 1]

In [7]:
list.index(2,1,5)

1

In [218]:
list.pop(6)

7

In [122]:
list.remove(5)
list

ValueError: list.remove(x): x not in list

# set

### an unordered collection data type,iterable, mutable and has no duplicate element.
hash table

In [6]:
set()
print(type(set()))

<class 'set'>

In [8]:
movies={"avengers","hitman","ironman"}
print(movies)
type(movies)

{'avengers', 'hitman', 'ironman'}

set

In [11]:
movies.add("hulk")
movies

{'avengers', 'hitman', 'hulk', 'ironman'}

In [17]:
set1={'avengers', 'hitman', 'hulk', 'ironman'}
set2={'avengers', 'hitman', 'hulk', 'ironman','superman'}

In [22]:
set2.difference(set1)

{'superman'}

In [24]:
set2

{'avengers', 'hitman', 'hulk', 'ironman', 'superman'}

In [27]:
set2.difference_update(set1)
set2

{'superman'}

In [34]:
set1={'avengers', 'hitman', 'hulk', 'ironman'}
set2={'avengers', 'hitman', 'hulk', 'ironman','superman'}
set2.intersection_update(set1)
set1

{'avengers', 'hitman', 'hulk', 'ironman'}

# DICTIONARIES

In [37]:
dic={}
type(dic)

dict

In [78]:
my_dict={"car1": "Audi","car2": "BMW","car3": "Benz"}
type(my_dict)
my_dict['car1']

'Audi'

In [81]:
my_dict["car1"]

'Audi'

In [82]:
for x in my_dict.keys():
    print(x)

car1
car2
car3

In [83]:
for x in my_dict.values():
    print(x)

Audi
BMW
Benz

In [85]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Benz')

In [88]:
my_dict['car4']='jaguar'
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Benz', 'car4': 'jaguar'}

In [90]:
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Benz')
('car4', 'jaguar')

In [112]:
my_dict['car1']='Maruti'
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Benz', 'car4': 'jaguar'}

# NESTED DICTIONARY

In [115]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [117]:
print(car_type['car1'])

{'Mercedes': 1960}

In [123]:
print(car_type['car1']['Mercedes'])

1960

# TUPLE

In [126]:
my_tuple=tuple()
type(my_tuple)

tuple

In [129]:
my_tuple=("krish","ankur","jhon")
my_tuple

('krish', 'ankur', 'jhon')

In [132]:
print(type(my_tuple))

<class 'tuple'>

In [134]:
my_tuple[0]

'krish'

In [136]:
my_tuple[1]="sam"    # tupules can't be change!!!(immutable)

TypeError: 'tuple' object does not support item assignment

In [139]:
my_tuple.count('krish')

1